<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="pageAppearanceGroup">
			<section
			  name="pageAppearance"
			  type="Samples.AspNet.PageAppearanceSection"
			  allowLocation="true"
			  allowDefinition="Everywhere"
      />
		</sectionGroup>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="BackgroundTasksConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=BackgroundTasks;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
