<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
		<clear />
        <add name="Ga.Personal.BackgroundTasks.TestingConsoleApp.ConnectionStringName"
             providerName="System.Data.ProviderName"
             connectionString="Ga.Personal.BackgroundTasks.TestingConsoleApp Valid Connection String;"
        />
    </connectionStrings>
</configuration>